/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body {
  margin: 0;
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.layout-wrapper {
  height: 100%;
}

.flex-wrapper {
  height: 100%;
}

mat-sidenav-container, mat-sidenav-content, mat-sidenav {
  height: 100%;
}

mat-sidenav {
  width: 250px;
}

main {
  padding: 10px;
}

a.navAnchor {
  text-decoration: none;
  color: white;
}

  a.navAnchor:hover, a:active {
    color: lightgray;
  }

.nav-caption {
  display: inline-block;
  padding-left: 6px;
}

.navigation-items {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

mat-toolbar {
  border-radius: 3px;
}

@media(max-width: 959px) {
  mat-toolbar {
    border-radius: 0px;
  }
}

div.parameters {
  float: right;
  background-color: white;
  border: 1px solid black;
  border-radius: 4px;
  box-shadow: 5px 5px 3px rgba(0,0,0,0.4);
}

div.parameters > form {
  margin: 10px;
}

  div.parameters > form > h3 {
    text-align: center;
  }

  div.parameters > form > div > mat-form-field {
    margin: 1px 5px 1px 5px;
  }

  div.parameters > div {
    text-align: center;
  }

div.imageFrame {
  min-height: 210px;
  min-width: 210px;
  border: 1px solid black;
  border-radius: 4px;
  box-shadow: 5px 5px 3px rgba(0,0,0,0.4);
  display: table-cell;
  vertical-align: middle;
}

div.spinnerFrame {
  height: 100px;
  width: 100px;
  margin: 0 auto;
}

div.image {
  min-height: 200px;
  min-width: 200px;
  margin: 0 auto;
}

.homeBackground {
  min-height: 500px;
  min-width: 500px;
  background: linear-gradient(rgba(255,255,255,.85), rgba(255,255,255,.8)), url("./assets/images/mandelbrot-bw.jpg")no-repeat center center;
  background-size: cover;
}

.aboutBackground {
  min-height: 500px;
  min-width: 500px;
  background: linear-gradient(rgba(255,255,255,.85), rgba(255,255,255,.8)), url("./assets/images/mandelbrot-bw-zoom1.jpg")no-repeat center center;
  background-size: cover;
}
