<app-parameters (onRequestImage)="setRequestedState()"
                (onReceiveImage)="setReceivedImage($event)"
                (onReceiveError)="setReceivedError($event)"></app-parameters>
<div class="imageFrame">
  <div class="spinnerFrame" *ngIf="isImageLoading; else showImage">
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
  </div>
  <ng-template #showImage>
    <div class="image">
      <img #outputImage [src]="imageToShow" alt="Fractal Image" *ngIf="!isImageEmpty" />
    </div>
  </ng-template>
</div>
