<mat-nav-list>
  <a class="navAnchor" mat-list-item routerLink="/home" (click)="onSidenavClose()">
    <mat-icon>home</mat-icon><span class="nav-caption">Home</span>
  </a>
  <a class="navAnchor" mat-list-item routerLink="/explorer" (click)="onSidenavClose()">
    <mat-icon>explore</mat-icon><span class="nav-caption">Explore</span>
  </a>
  <a class="navAnchor" mat-list-item routerLink="/about" (click)="onSidenavClose()">
    <mat-icon>info</mat-icon><span class="nav-caption">About</span>
  </a>
</mat-nav-list>
