<form [formGroup]="parametersForm" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="fill">
    <mat-label>x Axis Minimum</mat-label>
    <input type="number" matInput placeholder="x Axis Minimum" formControlName="xMinimum" step="0.1">
    <mat-error *ngIf="parametersForm.get('xMinimum').invalid">Value is required</mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>x Axis Maximum</mat-label>
    <input type="number" matInput placeholder="x Axis Maximum" formControlName="xMaximum" step="0.1" [value]="2">
    <mat-error *ngIf="parametersForm.get('xMaximum').invalid">Value is required</mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>y Axis Minimum</mat-label>
    <input type="number" matInput placeholder="y Axis Minimum" formControlName="yMinimum" step="0.1" [value]="-2">
    <mat-error *ngIf="parametersForm.get('yMinimum').invalid">Value is required</mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>y Axis Maximum</mat-label>
    <input type="number" matInput placeholder="y Axis Maximum" formControlName="yMaximum" step="0.1" [value]="2">
    <mat-error *ngIf="parametersForm.get('yMaximum').invalid">Value is required</mat-error>
  </mat-form-field>

  <button type="submit" mat-stroked-button color="primary" [disabled]="!parametersForm.valid">Submit</button>
</form>
<div>
  <img [src]="imageToShow"
       alt="Place image title"
       *ngIf="!isImageLoading; else noImageFound">
  <ng-template #noImageFound>
    <img src="fallbackImage.png" alt="Fallbackimage">
  </ng-template>
</div>
