<section fxLayout="column" fxFlexAlign="stretch" class="homeBackground">
  <div fxFlexAlign="center">
    <h1>Fractal Explorer</h1>
  </div>
  <mat-tab-group mat-align-tabs="center">
    <mat-tab label="Welcome">
      <h3>Welcome to Fractal Explorer</h3>
      <p>Fractal Explorer is a tool for creating fractal images and drilling down into the infinitely repeating patterns they contain.</p>
      <p>By selecting different parameters such as the fractal type, the colour scheme and the axis coordinates you can create beautiful and sometimes mind-boggling images.</p>
      <p>You can adjust the image size to suit your screen resolution and if you generate an image you especially like, right-click on it and select "Save Image As" to save it. Setting the image size to your screen resolution is a great way to create beautiful desktop wallpaper art.</p>
    </mat-tab>
    <mat-tab label="Instructions">
      <h3>How to generate fractals</h3>
      <p>In the Explore page you will see the Fractal Parameters form. Here you specify the type of image you want to generate and click Submit to generate it.</p>
      <p>Most of the parameters already have default values so initially you can just select the Fractal type from the drop-down list and click Submit to get started.</p>
      <p>In fractal images, every single pixel is calculated mathematically so larger images or more complex fractals will take a little longer to complete.</p>
      <p>The Height and Width are the dimensions of the image to be created (in pixels).</p>
      <p>The Minimum and Maximum X and Y axis values allow you to choose which part of the fractal you'd like to see. The default values are -2 to 2 where the middle of the image is the origin (0 on the axis).</p>
      <p>Making these values higher zooms the image out so the fractal appears smaller. Making these values lower zooms the image in until previously tiny details are magnified and new details are revealed.</p>
      <p>For example, try viewing the Mandelbrot fractal with the default -2 to 2 for both x and y axis, then try a zoomed in view by changing the axis values to -0.05 to 0.05 x-axis and -0.8 to -0.7 for the y-axis!</p>
      <p>The MaxIterations value sets a limit on how many calculated iterations per pixel will be attempted. A higher value generates more granular detail but takes longer to execute. Try setting this value very low (e.g. 5) and then increase it in steps, generating a new image each time to see how the fractal 'evolves' new levels of complexity.</p>
    </mat-tab>
    <mat-tab label="Fractals">
      <h3>What are fractals?</h3>
      <p>A fractal is a never-ending pattern. Fractals are infinitely complex patterns that are self-similar across different scales. They are created by repeating a simple process over and over in an ongoing feedback loop. Driven by recursion, fractals are images of dynamic systems – the pictures of Chaos. Geometrically, they exist in between our familiar dimensions. Fractal patterns are extremely familiar, since nature is full of fractals. For instance: trees, rivers, coastlines, mountains, clouds, seashells, hurricanes, etc. Abstract fractals – such as the Mandelbrot Set – can be generated by a computer calculating a simple equation over and over.</p>
      <p>To read more about fractals and see some other examples, have a look <a href="https://en.wikipedia.org/wiki/Fractal">here</a></p>
    </mat-tab>
  </mat-tab-group>
</section>
