<section fxLayout="column" fxFlexAlign="stretch">
  <div fxFlexAlign="center">
    <p>Welcome to Fractal Explorer</p>
  </div>
  <mat-tab-group>
    <mat-tab label="Custom Fractal Generation">
      <p>Fully configurable fractal parameters and colour/image rendering. You can also quickly create and register your own fractals to view in the Explorer.</p>
    </mat-tab>
    <mat-tab label="ASP.Net Core 3.0 Web API">
      <p>High performance multi-threaded fractal calculator will render and serve images quickly even on slow machines or mobile devices.</p>
    </mat-tab>
    <mat-tab label="Responsive Web Design">
      <p>UI works equally well across all mainstream browsers and mobile devices.</p>
    </mat-tab>
  </mat-tab-group>
</section>
